{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{titulo}}</title>

    <link
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <link href="{% static 'css/estilos_auth_section.css' %}" rel="stylesheet" />
    <link href="{% static 'css/estilos_info_escuela.css' %}" rel="stylesheet" />
  </head>

  <body>
    {% include "barradenavegacion.html" %}

    <br /><br /><br />

    <!-- Sección para usuario logueado -->

    <!-- Sección Datos Establecimiento -->
    <div class="escuela-info">
      <h2>{{ datos_escuela.nombre_escuela }}</h2>

      <div class="escuela-details">
        <div class="detail-item">
          <div class="detail-label">Distrito</div>
          <div class="detail-value">{{ datos_escuela.distrito }}</div>
        </div>

        <div class="detail-item">
          <div class="detail-label">CUE</div>
          <div class="detail-value">{{ datos_escuela.cue }}</div>
        </div>

        <div class="detail-item">
          <div class="detail-label">Sector de Gestión</div>
          <div class="detail-value">{{ datos_escuela.sector_gestion }}</div>
        </div>

        <div class="detail-item">
          <div class="detail-label">Clave Provincial</div>
          <div class="detail-value">{{ datos_escuela.clave_provincial }}</div>
        </div>
      </div>
    </div>

    <div class="main-wrapper">
      <div class="container centered-content">
        <!-- Mensaje de bienvenida -->
        <div class="welcome-container text-center">
          <h1 class="welcome-title">
            Bienvenido al Sistema de Administración Escolar SAE
          </h1>
          <p class="welcome-text">
            Este sistema está diseñado para optimizar la gestión de tu
            institución educativa. Con nuestra plataforma podrás administrar
            alumnos, docentes, cursos, especialidades, turnos y materias de
            manera eficiente, llevar un registro académico completo y
            asistencias tambien podras generar reportes automatizados.
          </p>

          <p class="welcome-text">
            Hemos creado herramientas intuitivas que simplificarán tus procesos
            administrativos, permitiéndote enfocarte en lo más importante: la
            educación de calidad. A continuación encontrarás un video tutorial
            que te guiará en el uso básico del sistema.
          </p>
        </div>

        <!-- Video tutorial -->
        <div class="video-container text-center">
          <h2 class="video-title">Tutorial del Sistema</h2>
          <div class="video-wrapper centered-video">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/RFOg0Z6lE94?si=nXlqspJnsObxwGY-"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
