<h5 class="mt-3">EDUCACIÓN COMPLEMENTARIA</h5>

<h6>¿Asiste a alguna de las siguientes instituciones?</h6>
<br>
<div class="mb-3">
    <div class="negrita">{{ form.asis_inst.label_tag }}</div>
    {{ form.asis_inst }}
</div>

<div class="mb-3">
    <div class="negrita">{{ form.asis_inst_2.label_tag }}</div>
    {{ form.asis_inst_2 }}
</div>

<div class="mb-3">
    <div class="negrita">{{ form.asis_inst_3.label_tag }}</div>
    {{ form.asis_inst_3 }}
</div>


<h5 class="mt-3">SERVICIO ALIMENTARIO ESCOLAR</h5>
<h6>En caso de que la institución cuente con el servicio</h6>


<div class="mb-3">
    <div class="negrita">{{ form.incorp_serv_esc.label_tag }}</div>
    {{ form.incorp_serv_esc }}
</div>