<h5 class="mt-3">INSCRIPCIÓN</h5>
<div class="mb-3">
    <div class="negrita">{{ form.ins_en.label_tag }}</div>
    {{ form.ins_en }}
</div>
<br>

<div class="mb-3">
    <div class="negrita">{{ form.orient.label_tag }}</div>
    {{ form.orient }}
</div>

<div class="mb-3">
    <div class="negrita">{{ form.anoo.label_tag }}</div>
    {{ form.anoo }}
</div>

<div class="mb-3">
    <div class="negrita">{{ form.tur.label_tag }}</div>
    {{ form.tur }}
</div>

<div class="mb-3">
    <div class="negrita">{{ form.jornadas.label_tag }}</div>
    {{ form.jornadas }}
</div>

<hr class="my-4">
<h6>CONDICIÓN EN LA INSCRIPCIÓN ACTUAL</h6>
<hr class="my-4">

<div class="mb-3">
    {{ form.ins_act }}
</div>

<hr class="my-4">
<h6>INCLUSIÓN</h6>
<hr class="my-4">
<div class="mb-3">
    <div class="negrita">{{ form.cursa_p_inclu.label_tag }}</div>
    {{ form.cursa_p_inclu }}
</div>

<div id="inclu_s_n" style="display: none;">
    <div class="mb-3">
        
    <div class="negrita">{{ form.esc_cursa.label_tag }}</div>
    {{ form.esc_cursa }}
    <br>
    <div class="negrita">{{ form.tiene_acomp.label_tag }}</div>
    {{ form.tiene_acomp }}
    </div>
</div>



