<h3 class="mt-3"><CENTER>DATOS DE LA PERSONA RESPONSABLE 1</CENTER></h3>
<hr class="my-4">

<div class="mb-3">
    <div class="negrita"> {{ form.vinc_est.label_tag }} </div>
    {{ form.vinc_est }}
</div>


<div class="mb-3">
    <div class="negrita"> {{ form.ape_adul_1.label_tag }} </div>
    {{ form.ape_adul_1 }}
</div>

<div class="mb-3">
    <div class="negrita"> {{ form.nombre_adul_1.label_tag }} </div>
    {{ form.nombre_adul_1 }}
</div>

<div class="mb-3">
    <div class="negrita"> {{ form.nac_adul_1.label_tag }} </div>
    {{ form.nac_adul_1 }}
</div>

<div class="mb-3">
    <div class="negrita"> {{ form.dni_adul_1.label_tag }} </div>
    {{ form.dni_adul_1 }}
</div>


<div id="dni_opt_adul_1" style="display: none;">
    <div class="negrita"> {{ form.ndoc_adul_1.label_tag }} </div>
    {{ form.ndoc_adul_1 }}
</div>

<div id="dni_opt_2_adul_1" style="display: none;">
    <div class="negrita"> {{ form.po_cdi.label_tag }} </div>
    {{ form.po_cdi }}

    <div class="negrita"> {{ form.doc_extra1.label_tag }} </div>
    {{ form.doc_extra1 }}

    <div id="dni_opt_2_adul_11" style="display: none;">
        <div class="negrita"> {{ form.ndoc_adul_extra_1.label_tag }} </div>
        {{ form.ndoc_adul_extra_1 }}
    </div>

</div>

<div class="mb-3">
    <div class="negrita"> {{ form.prof_edu_1.label_tag }} </div>
    {{ form.prof_edu_1 }}
</div>

<div class="mb-3">
    <div class="negrita"> {{ form.asis_esta_edu_adul_1.label_tag }} </div>
    {{ form.asis_esta_edu_adul_1 }}
</div>

<div id="comp_niv_op_1" style="display: none;">
    <div class="negrita"> {{ form.niv_curso_1.label_tag }} </div>
    {{ form.niv_curso_1 }}

    <div class="negrita"> {{ form.comp_niv_1.label_tag }} </div>
    {{ form.comp_niv_1 }}
</div>

<hr class="my-4">
<h6>CONDICIÓN DE ACTIVIDAD</h6>
<hr class="my-4">

<div class="mb-3">
    {{ form.con_act_1 }}
</div>

<hr class="my-4">
<h6>DOMICILIO</h6>
<hr class="my-4">

<div class="mb-3">
    <div class="negrita"> {{ form.vive_est_1.label_tag }} </div>
    {{ form.vive_est_1 }}
</div>

<div id="final_1" style="display: none;">
    <div class="negrita"> {{ form.calle_f_1.label_tag }} </div>
    {{ form.calle_f_1 }}

    <div class="negrita"> {{ form.numero_f_1.label_tag }} </div>
    {{ form.numero_f_1 }}

    <div class="negrita"> {{ form.piso_f_1.label_tag }} </div>
    {{ form.piso_f_1 }}

    <div class="negrita"> {{ form.torre_f_1.label_tag }} </div>
    {{ form.torre_f_1 }}

    <div class="negrita"> {{ form.departamento_f_1.label_tag }} </div>
    {{ form.departamento_f_1 }}

    <div class="negrita"> {{ form.entre_calle_f_1.label_tag }} </div>
    {{ form.entre_calle_f_1 }}

    <div class="negrita"> {{ form.y_calle_f_1.label_tag }} </div>
    {{ form.y_calle_f_1 }}

    <div class="negrita"> {{ form.otro_dato_f_1.label_tag }} </div>
    {{ form.otro_dato_f_1 }}

    <div class="negrita"> {{ form.provincia_f_1.label_tag }} </div>
    {{ form.provincia_f_1 }}

    <div class="negrita"> {{ form.distrito_f_1.label_tag }} </div>
    {{ form.distrito_f_1 }}

    <div class="negrita"> {{ form.localidad_f_1.label_tag }} </div>
    {{ form.localidad_f_1 }}

    <div class="negrita"> {{ form.telefono_f_1.label_tag }} </div>
    {{ form.telefono_f_1 }}

    <div class="negrita"> {{ form.telefono_celular_f_1.label_tag }} </div>
    {{ form.telefono_celular_f_1 }}

    <div class="negrita"> {{ form.email_f_1.label_tag }} </div>
    {{ form.email_f_1 }}

</div>







<br>
<h3 class="mt-3"><CENTER>DATOS DE LA PERSONA RESPONSABLE 2</CENTER></h3>
<hr class="my-4">

<div class="mb-3">
    <div class="negrita"> {{ form.vinc_est2.label_tag }} </div>
    {{ form.vinc_est2 }}
</div>


<div class="mb-3">
    <div class="negrita"> {{ form.ape_adul_2.label_tag }} </div>
    {{ form.ape_adul_2 }}
</div>

<div class="mb-3">
    <div class="negrita"> {{ form.nombre_adul_2.label_tag }} </div>
    {{ form.nombre_adul_2 }}
</div>

<div class="mb-3">
    <div class="negrita"> {{ form.nac_adul_2.label_tag }} </div>
    {{ form.nac_adul_2 }}
</div>

<div class="mb-3">
    <div class="negrita"> {{ form.dni_adul_2.label_tag }} </div>
    {{ form.dni_adul_2 }}
</div>


<div id="dni_opt_adul_2" style="display: none;">
    <div class="negrita"> {{ form.ndoc_adul_2.label_tag }} </div>
    {{ form.ndoc_adul_2 }}
</div>

<div id="dni_opt_2_adul_2" style="display: none;">

    <div class="negrita"> {{ form.po_cdi2.label_tag }} </div>
    {{ form.po_cdi2 }}

    <div class="negrita"> {{ form.doc_extra2.label_tag }} </div>
    {{ form.doc_extra2 }}

    <div id="dni_opt_2_adul_22" style="display: none;">
        <div class="negrita"> {{ form.ndoc_adul_extra_2.label_tag }} </div>
        {{ form.ndoc_adul_extra_2 }}
    </div>

</div>

<div class="mb-3">
    <div class="negrita"> {{ form.prof_edu_2.label_tag }} </div>
    {{ form.prof_edu_2 }}
</div>

<div class="mb-3">
    <div class="negrita"> {{ form.asis_esta_edu_adul_2.label_tag }} </div>
    {{ form.asis_esta_edu_adul_2 }}
</div>

<div id="comp_niv_op_2" style="display: none;">
    <div class="negrita"> {{ form.niv_curso_2.label_tag }} </div>
    {{ form.niv_curso_2 }}

    <div class="negrita"> {{ form.comp_niv_2.label_tag }} </div>
    {{ form.comp_niv_2 }}
</div>

<hr class="my-4">
<h6>CONDICIÓN DE ACTIVIDAD</h6>
<hr class="my-4">

<div class="mb-3">
    {{ form.con_act_2 }}
</div>

<hr class="my-4">
<h6>DOMICILIO</h6>
<hr class="my-4">

<div class="mb-3">
    <div class="negrita"> {{ form.vive_est_2.label_tag }} </div>
    {{ form.vive_est_2 }}
</div>

<div id="final_2" style="display: none;">
    <div class="negrita"> {{ form.calle_f_2.label_tag }} </div>
    {{ form.calle_f_2 }}

    <div class="negrita"> {{ form.numero_f_2.label_tag }} </div>
    {{ form.numero_f_2 }}

    <div class="negrita"> {{ form.piso_f_2.label_tag }} </div>
    {{ form.piso_f_2 }}

    <div class="negrita"> {{ form.torre_f_2.label_tag }} </div>
    {{ form.torre_f_2 }}

    <div class="negrita"> {{ form.departamento_f_2.label_tag }} </div>
    {{ form.departamento_f_2 }}

    <div class="negrita"> {{ form.entre_calle_f_2.label_tag }} </div>
    {{ form.entre_calle_f_2 }}

    <div class="negrita"> {{ form.y_calle_f_2.label_tag }} </div>
    {{ form.y_calle_f_2 }}

    <div class="negrita"> {{ form.otro_dato_f_2.label_tag }} </div>
    {{ form.otro_dato_f_2 }}

    <div class="negrita"> {{ form.provincia_f_2.label_tag }} </div>
    {{ form.provincia_f_2 }}

    <div class="negrita"> {{ form.distrito_f_2.label_tag }} </div>
    {{ form.distrito_f_2 }}

    <div class="negrita"> {{ form.localidad_f_2.label_tag }} </div>
    {{ form.localidad_f_2 }}

    <div class="negrita"> {{ form.telefono_f_2.label_tag }} </div>
    {{ form.telefono_f_2 }}

    <div class="negrita"> {{ form.telefono_celular_f_2.label_tag }} </div>
    {{ form.telefono_celular_f_2 }}

    <div class="negrita"> {{ form.email_f_2.label_tag }} </div>
    {{ form.email_f_2 }}

</div>

<br>
<h3 class="mt-3"><CENTER>RESTRICCIONES POR DECISIONES JUDICIALES</CENTER></h3>
<hr class="my-4">


<div class="negrita"> {{ form.ape_f.label_tag }} </div>
{{ form.ape_f }}

<div class="negrita"> {{ form.nomb_f.label_tag }} </div>
{{ form.nomb_f }}

<div class="negrita"> {{ form.tipo_f.label_tag }} </div>
{{ form.tipo_f }}

<div class="negrita"> {{ form.num_f.label_tag }} </div>
{{ form.num_f }}

<div class="negrita"> {{ form.des_f.label_tag }} </div>
{{ form.des_f }}


<h6>La restricción solo operará en caso de acompañarse la resolución judicial certificada. </h6>
<br><br><br>
<h6>La totalidad de los datos e información suministrada por quien completa este formulario tiene carácter de Declaración Jurada.
Al enviar el formulario se compromete a comunicar al establecimiento cualquier modificación de los datos suministrados
en forma inmediata y de manera fehaciente. </h6>