{% load static %} {% load widget_tweaks %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Crear Grupo</title>
    <link
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'css/estilos_editar.css' %}" rel="stylesheet" />
  </head>

  <body>
    {% include "barradenavegacion.html" %}

    <div class="container mt-5">
      <div class="auth-section">
        <h2 class="text-center">Alta de Grupo</h2>

        <form method="post">
          {% csrf_token %}

          <!-- Nombre -->
          <div class="form-group mb-3">
            <label for="{{ form.nombre.id_for_label }}" class="form-label"
              >Nombre</label
            >
            {{ form.nombre|add_class:"form-control" }} {% if form.nombre.errors
            %}
            <div class="invalid-feedback d-block">
              {% for error in form.nombre.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
          </div>

          <!-- Descripción -->
          <div class="form-group mb-4">
            <label for="{{ form.descripcion.id_for_label }}" class="form-label"
              >Descripción</label
            >
            {{ form.descripcion|add_class:"form-control" }} {% if
            form.descripcion.errors %}
            <div class="invalid-feedback d-block">
              {% for error in form.descripcion.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
          </div>

          <!-- Botones -->
          <div class="text-center mt-4">
            <button type="submit" class="auth-btn">GUARDAR</button>
            <a href="{% url 'gestion_grupos' %}" class="btn btn-logout"
              >CANCELAR</a
            >
          </div>
        </form>
      </div>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
